/* work sans font form google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*shared style */

.text-discription{
    color: #727272;
}

.btn-primary{
    border-radius: 2px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    padding: 2opx 25px;
    /* margin: 20px; */
    border: 0;
    cursor: pointer;
    
}
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.section-title{
    font-size: 2.8rem;  
    font-weight: 700;
    color: #131313;
  }








/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
  
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li  a{
    text-decoration: none;
    color: black;
}
.banner-content{
    max-width: 800px;
    text-align: center;
margin: 0 auto;
margin-bottom: 0px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
    
}
.teams-container{
    display: flex;
    align-items: center;
    margin: 70px auto;
}
.teams-iamge-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem ;
}

.teams-content{
    padding-right: 70px ;
    padding-left: 70px;
}

.teams-title{
    font-size: 2.8rem;
}
.Quick-list{
    color: #727272;
    font-weight: 500;
    /* font-size: 45px; */
}

.of-Our{
    color: #131313;
    font-weight: 700;
    /* font-size: 45px; */
}

.Features-color{
    color: #FF900E;
    font-weight: 700;
    /* font-size: 45px; */
    

}
main{
    max-width: 1440px;
    margin: 0 auto;
}


/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
  
}

.facts-card-container .card{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 30px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}
.facts-card-container .card-title{
   font-weight: 600; 
   color: #727272;
   font-size: 1.25rem;
   margin-top: 5px;
}

/* sponsore style */
.sponsore{
text-align: center;
}

.sponsore-image-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px
    ;
}

.sponsore-image-container img{
    width: 165px;
}
















/* Small devices */
@media screen and (max-width: 576px){
    header{
padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container,
    .facts-card-container,
    .sponsore-image-container{
        flex-direction: column;
    }
    .teams-iamge-container{
        grid-template-columns: 1fr;
    }
    .teams-content,.facts-card-container{
        padding-right: 20px ;
        padding-left: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
}


/* Medium Devices */

@media screen and (min-width:576px) and (max-width:962px) {
    header{
        padding: 50px;
            }
            nav,
            .sponsore-image-container{
                flex-direction: column;
            }
         .teams-container{
            flex-direction: column-reverse;
         }   
         .teams-iamge-container{
            margin-top: 30px;
         }
}
    

